[Unit]
Description=xbindkeys daemon
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/xbindkeys --nodaemon -f /home/joona/.dotfiles/.xbindkeysrc
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=15
[Install]
WantedBy=default.target
